<h1>Wished.It Beta Sign-Up</h1>
<h2>Wished.It is a new and better way to create and share wishlists with different groups of friends and family</h2>
<h3>Register today and we'll give you exclusive access to our Beta test when it's ready to roll out!</h3>

<%= render 'register_form' %>

<%= link_to 'Back', users_path %>
